@tailwind base;
@tailwind components;
@tailwind utilities;

.linkedIn {
  svg {
    fill: #0077B5;
  }
}
.stackOverflow {
  svg {
    fill: #F48024;
  }
}
.salesforce {
  svg {
    fill: #0D9DDA;
  }
}

.bg-aem {
  background-color: #3A2A1D;
}

.bg-topics {
  background-color: #FAFAFA;
}

.code {
  &-inline {
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;

    &.background {
      padding: .2em .4em;
      border-radius: 6px;
      background-color: rgba(175, 184, 193, 0.2);
    }
  }
}
